table{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px ;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
}
th{
    height: 30px;
}

.tableActions{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-self: center;
    justify-content: center;
}

.tableActions button{
    height: auto;
    width: 5%;
    margin-left: 10px;
}