table{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px ;
    border-radius: 10px;
    text-align: center;
    background-color: #70D242;
}

th{
    height: 30px;
}


body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

.sub{
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  color: darkgreen;
}

.site-header .container .navbar-brand  {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  color: darkgreen;
  text-align: right;
  float: right;
  display: inline-block;
  margin-left: 20px;
} 
.site-header .container .navbar-brand:hover{
    color:white;
}
.site-header .container .logo{
    max-width: 20%;
    max-height: 60px;
    border-radius: 50%;
    border-color: white;
    clip-path: circle();
    background-color: white;
}
.navbar ul{
    list-style: none;
    padding: 0;
    margin : 0;
    text-align: right;
}
.navbar li{
    display: inline-block;
    padding-left: 10px;
}
.navbar a{
    text-decoration: none;
    color: white;
    text-transform:uppercase;
    font-weight: bold;
    font-family:arial;
}
.navbar a:hover{
    color: darkgreen;
}

p{
    text-align: center;
    font-weight: 500;
    font-size: xx-large;
    text-transform: uppercase;
    color:darkgreen;
}
button:hover{
    color: #70D242;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}
.sign{
  text-align: center;
  font-weight: bold;
  color: #428bca;
}
.sign:hover{
  color:#428bca;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.bg-steel {
  background-color: #70D242;
}
  
img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.image {
  margin: 0px 30px;
  margin-bottom:30px;
  border : 3px solid;
  border-top-color :  lightgreen;
  border-right-color : lightgreen;
  border-bottom-color : darkgreen;
  border-left-color: darkgreen;
  width: 100px;
  height: 150px;
  
}
.card {
	  float: left;
      margin: 20px;
      margin-left: 40px;
	}

.card div{
    text-align: center;
    color: darkgreen;
}

.card div:hover{
    color:lightgreen;
}