{% extends "layout.html" %}
{% block content %}
<marquee>Preventing food from going to waste is one of the easiest and most powerful actions you can take
  to save money. Remindish helps to achieve this. Click the sign in/up button to get started.</marquee>

<a href=""><img class="pics" src="/static/image/RD.png" alt=""></a>
<div class="about-section">
  <h1 class="about">About Us</h1>
  <p> We want to reduce the amount of food waste created by individuals not consuming it before its expiration date</p>
  <p>Remindish is a website that allow users to add food items with basic information.
    Item is stored in a database, sorted in chronological order.
    Program will check for any food about to expire.
    A notification is sent to the user about the item set to expire soon.
  </p>
</div>
<div class="row">
  <div class="column">
    <div class="cardd">
      <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
      <!-- <div class="container"> -->
      <h2 class="mission">Our Mission</h2>
      <p>We want to help prevent food waste simply because it has passed its expiration date.Most people don't realize
        how much food they throw away every day — from uneaten leftovers to spoiled produce to parts of fruits and
        vegetables that could be eaten or repurposed.</p>
      <p>One-third of all food in the United States goes uneaten. EPA estimates that in 2018, about 81 percent - 20.3
        tons - of households' wasted food ended up in landfills or combustion facilities.<p>
          <div class="about-section">
            <div class="cardd">
              <!-- <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
              <h2 class="Do">What We Do</h2>
              <p>Remindish allows you User log in withyour name and phone number
                you can add a food item with basic information (name, category, purchase date, expiration date)
                Food item is stored in a database. Remindsih will check for any food item to expire in the following
                week
                A notification sent to you about the food set to expire soon</p>
              <p>Remindish will send a notification to you letting you know which food items are set to expire in the
                following week</p>
            </div>
          </div>
    </div>

    <div class="column">
      <div class="cardd">
        <h2>DEVELOPERS</h2>
        <!-- <img src="/w3images/team3.jpg" alt="" style="width:100%"> -->
        <p class="title">Luis Pagan</p>
        <p class="title">Kehinde Ayeyemi</p>
        <p class="title">Nile Lee</p>
        <a href="/login">
          <p><button class="button">Get Started</button></p>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}