{% extends "layout.html" %}
{% block content %}
<img src="/static/image/gro.jpg" alt="">
<p>Select Category</p>
<div class="card">
    <div>Fruits</div>
    <a href="/add"><img class="image" src="/static/image/fruit.jpg" alt="Fruits"></h1></a>
</div>
<div class="card">
    <div>Beverages</div>
    <a href="/add"><img class="image" src="/static/image/bev.jpg" alt="Beverages"></a>
</div>
<div class="card">
    <div>Canned Goods</div>
    <a href="/add"><img class="image" src="/static/image/can.jpg" alt="Canned Goods"></a>
</div>
<div class="card">
    <div>Dairy</div>
    <a href="/add"><img class="image" src="/static/image/dairy.jpg" alt="Dairy"></a>
</div>
<div class="card">
    <div>Meat</div>
    <a href="/add"><img class="image" src="/static/image/meat.jpg" alt="Meat"></a>
</div>
<div class="card">
    <div>Condiments/Spices</div>
    <a href="/add"><img class="image" src="/static/image/cd.png" alt="Condiments/Spices"></a>
</div>

<div class="card">
    <div>Pasta/Rice/Cereal</div>
    <a href="/add"><img class="image" src="/static/image/pas.jpeg" alt="Condiments/Spices"></a>
</div>
<div class="card">
    <div>Baking</div>
    <a href="/add"><img class="image" src="/static/image/bak.jpg" alt="Condiments/Spices"></a>
</div>
<div class="card">
    <div>Grocery</div>
    <a href="/add"><img class="image" src="/static/image/cd.png" alt="Condiments/Spices"></a>
</div>
<div class="card">
    <div>Seafood</div>
    <a href="/add"><img class="image" src="/static/image/sea.jpg" alt="Meat"></a>
</div>
<div class="card">
    <div>Snacks</div>
    <a href="/add"><img class="image" src="/static/image/sna.jpg" alt="Meat"></a>
</div>
<div class="card">
    <div>Frozen Foods</div>
    <a href="/add"><img class="image" src="/static/image/fro.jpg" alt="Meat"></a>
</div>
<!-- <div class="button-container">
    <a href="/add">
        <button>Select Category</button>
    </a>
</div> -->

{% endblock content %}