<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/show.css">
    <link rel="stylesheet" href="/static/css/options.css">
</head>
<body>
    <h1>Notifood</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>