<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
  <div class="container">
    <a class="navbar-brand mr-4" href="/"><img class="logo" src="/static/image/log.png">REMINDISH</a>

    <div class="navbar">
      <ul>
        {% if session.uuid %}
        <li><a href="/show">Check Items</a></li>
        <li><a href="/logout">{{session.name}} | Logout</a></li>
        {% else %}
        <li><a href="/support"> Support </a></li>
        <li><a href="/login">Sign In/Up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  </div>
  </div>
</nav>