{% extends "layout.html" %}
{% block content %} 
<div class="content-section">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Purchase Date</th>
                <th>Expiration Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in food_items %} 
            <tr>
                <td>{{ item.item_name }}</td>
                <td>{{ item.item_category }}</td>
                <td>{{ item.purchase_date }}</td>
                <td>{{ item.expiration_date }}</td>
            </tr> 
            {% endfor %} 
        </tbody>
    </table>
</div> 
{% endblock content %}